header{
    background:url(https://th.bing.com/th/id/R.f3c4219bdada549d9c190c34006c642b?rik=qpDzRM1BK3tEnA&riu=http%3a%2f%2fwww.pxleyes.com%2fimages%2fcontests%2fsweet-desserts%2ffullsize%2fTiramisu-4e6590428bb2b_hires.jpg&ehk=ywpBDkbxb9%2budNJEFK5NqLvKF4DSX8zgadE4c9MJP2A%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    height: 510px;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    position:relative;
}
body{
    background-color:lightblue;

}
nav{
    width:100%;
    height:70px;
    padding:0px 0px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:2px 0px 5px grey;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold;
}
.logo span{
    color:brown;
}
.menu a{
    text-decoration: none;
    color:brown;
    padding:10px 20px ;
    font-weight: bold;
}
.menu a:last-child{
    background:gold;
    color:darkcyan;
    border-radius:8px;
}
.text-1{
    position:absolute;
    top:45%;
    left:10%;
    padding: 15px;
    background-color: aliceblue;
}
.text-1 p{
    color:black;
    letter-spacing: 3px;
    font-weight:bold;
    background-color: aliceblue;
}
.text-1 h1{
    font-size: 4em;
    line-height: 1.5em;
    background-color: aliceblue;
}
.text-1 h1 span{
    color:brown;
}
.text-1 h2{
    font-size: 4em;
    margin-bottom: 0.5em;
}
#order{
    text-decoration:none;
    color:white;
    background-color: brown;
    border-radius: 8px;
    padding:10px 20px;
}
#dis{
    text-decoration:none;
    color:white;
    background:black;
    padding: 10px 20px;
    border-radius:8px;
}
#ice-cream{
    position: absolute;
    left:5%;
}
#ice-cream img{
    transition:0.4s ease;
}
#ice-cream img:hover{
    transform:translateY(-20PX);
}
.head-2{
    background: aliceblue;
    text-align: center;
    letter-spacing: 2px;
}

.items{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background: white;
}
.items-2{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background: white;
}
.items a{
    text-decoration: none;
    color:crimson;
    padding:10px 20px ;
    font-weight: bold;
}
.items-2 a{
    text-decoration: none;
    color:crimson;
    padding:10px 20px ;
    font-weight: bold;
}
.last img{
    display:block;
    float:right;
}
.last p{
    background:white;
    color:black;
    letter-spacing: 2px;
    font-weight:bold;
    position: absolute;
    top:200%;
    left:1%;
    padding: 15px;
    font-size:20px;
    font-family: sans-serif;
}
#text-3{
    background:white;
    color:brown;
    letter-spacing: 2px;
    font-weight:bold;
    position: absolute;
    top:220%;
    left:1%;
    padding: 15px;
    font-size:20px;
    font-family: sans-serif;
}
.text-4{
    background:white;
    color:black;
    letter-spacing: 2px;
    font-weight:bold;
    position: absolute;
    top:245%;
    left:1%;
    padding: 15px;
    font-size:20px;
    font-family: sans-serif;
}
input[type=text]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid red;
    color:black;
}
input[type=email]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:2px solid red;
    color:black;
}
textarea{
    width:100%;
    padding:12px 20px ;
    margin: 8px;
    box-sizing: border-box;
    border:2px solid rgb(255, 8, 0);
    color:black;
}
input[type=submit]{
    width:50%;
    padding: 9px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border:2px solid red;
    color:black;
}